<body>
  <section class="food_section layout_padding-bottom">
      <div class="container">
          <div class="heading_container heading_center">
              <div class="filters-content">
                  <!-- Usamos un ngFor para iterar sobre cada elemento en cursoArr -->
                  <div class="row mt-4">
                      <div class="col-md-4" *ngFor="let a of products">
                          <div class="box">
                              <div>
                                  <div class="img-box">
                                      <img [src]="a.image" alt="">
                                  </div>
                                  <div class="detail-box">
                                      <h5>{{a.name}}</h5>
                                      <p>{{a.desc}}</p>
                                      <p>{{"$" + a.price}}</p>
                                      <br>
                                      <div >
                                          <a href="#" class="btn btn-primary">Ver detalles</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
