<body>
    <div class="hero_area">
        <header class="header_section">
            <div class="container"><br>
                <div class="card">
                    <div align="center">
                        <img src="/assets/images/logo.png" style="height: 135px; width: 125px;" alt="">
                    </div><br>
                    <span class="title" align="center">Opciones Administrador</span>
                    <p class="description" align="center">En este apartado puedes agregar un producto o ver tu perfil.
                    </p><br>

                    <div align="center">

                        <button class="button" routerLink="/agregar-producto">
                            <span class="lable">Agregar producto</span>
                        </button>
                        <br>
                        <button class="button" routerLink="/perfil-admin">
                            <span class="lable">Ver perfil</span>
                        </button>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" (click)="confirmarAlert()"
                                style="cursor: pointer;">
                                <i class="bi bi-box-arrow-left"></i> &nbsp; Cerrar sesión
                            </a>
                        </li>
                    </div>
                    <br>
                </div>

            </div>
        </header>
    </div>


</body>